.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  padding-left: 3rem; 
  position: relative;
  margin-top: 4rem;
  margin-left: 90rem;
  width: 100%;
  height: 60rem;
  max-width: 42rem;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1rem);

  .welcome-library {
    display: flex;
    margin-top: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #000000;
    text-align: center;

    .name-library {
      color: #4285F4;
      margin-left: 0.4rem;
      font-weight: 500;
    }
  }

  .login-title {
    margin-top: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.2;
    color: #000000;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  .login-button {
    width: 50%;
    height: 4.8rem;
    background: #EB6B6B;
    border-radius: 0.8rem;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left : 4rem;
    &:hover {
      background: #f75959;
      transform: translateY(-0.2rem);
      box-shadow: 0 0.6rem 1.5rem rgba(235, 107, 107, 0.3);
    }

    &:active {
      transform: translateY(0);
    }
  }
}