.sidebar {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.08);
  height: 100vh;

  .logo {
    margin-top: 6rem;
    height: 3.5rem;
    margin-bottom: 3rem;
  }

  .menu-items {
    width: 100%;
    margin-bottom: 20rem;
    
    .item-icon-main {
      display: flex;
      align-items: center;
      height: 3.2rem;
      padding-left: 1.5rem;
      text-decoration: none;
      transition: all 0.3s ease;
      width: 100%;
      
      // mặc định
      .item-icon,
      .item-title {
        color: rgb(33, 37, 41);
        font-family: "Nunito", sans-serif;
        opacity: 0.5;
        transition: all 0.3s ease;
      }

      .item-icon {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .item-title {
        font-size: 1.3rem;
        font-weight: 600;
        margin-left: 1.2rem;
        white-space: nowrap;
      }

      // hover hoặc active
      &:hover,
      &:focus {
        background: rgba(224, 60, 107, 0.15);
        transform: translateX(0.3rem);
        cursor: pointer;
        
        .item-icon,
        .item-title {
          color: rgb(241, 70, 116) !important;
          opacity: 1;
        }
      }

      &:active {
        transform: translateX(0.2rem);
      }
    }
  }
}