.sidebar{
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
    height: 100vh;
    .logo{
        margin-top: 3.5rem;
        height: 6rem;
        width: auto;
        object-fit: contain;
    }
    .menu-items{
        margin-top: 8rem;
        margin-bottom: 30rem;
        padding-left: 1rem;
    }
    .item-icon{
        height: 3.5rem;
        width: auto;
        text-decoration: none;

        .item-title{
            font-family: 'Inter', sans-serif;
             font-weight: 600 !important;
            font-size: 1.6rem;
            color: #4e4c4c;
            margin-left: 1rem;
            margin-right : 1rem;

        }
}
}