.google-signin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29.8rem;
  height: 5.6rem;
  background: #E9F1FF;
  border: 1px solid #E0E0E0;
  border-radius: 0.9rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #1e68df;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;

  .social-logo {
    height: 2.6rem;
    width: auto;
    object-fit: contain;
    margin-right: 1.2rem;
  }

  &:hover {
    background: #d9e7ff;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
  }
}

.logo-wrapper {
  width: 6rem;   
  height:6rem; 
  border-radius: 0.9rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid #e8e6e6;
  display: flex;
  align-items: center;
  justify-content: center;  
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {

    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
  }

  .social-logo {
    height: 2.9rem;
    width: auto;
    display: block;
  }

} 

.forgot-password {
  width: 100%;
  display : flex;
  text-align: right;
  justify-content: flex-end;
  .link-forgot-password {
    display:block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: #2978f8;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      text-decoration: underline;
      color: #306ac1;
    }
  }
}

.link-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #686666;
  margin-left: 2rem;
  margin-right : 10rem;
  .register {
    color: #DB5454;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      text-decoration: underline;
      color: #e63b3b;
    }
  }
}